body {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   background: url("../Image/Feuille.png") center/cover;
   color: rgb(255, 255, 255);
}
#Caracteristique {
   background-color: rgb(17, 62, 0);
   width: 20%;
   margin: 5px;
   padding: 10px;
   border-radius: 10px;
}

#Haut-Page {
   text-align: center;
   color: white
}

table.tableau {
   border-collapse: collapse;
}
table.tableau td,
table.tableau th {
   border: 1px solid white
}

.tableau {
   text-align: center;
   margin: 0 auto;
}